@media(max-width: 1200px){
    .s-hero .text{
        max-width: 50%;
    }
    .s-hero-cards .all-cards{
        width: 100%;
    }
    .s-hero-cards .all-cards .card{
        width: 32%;
    }
    
    .s-hero-cards .second-area .all-imgs {
        gap: 2rem 2%;
    }

    .s-hero-cards .second-area .all-imgs .image {
        width: 23.5%;  
    }

    footer main nav{
        max-width: 6.3rem;
    }
}

@media(max-width: 991px){
    header{
        height: 5.5rem;
    }
    header nav {
        display: none;
    }
    header .menu-mobile{
        display: block;
    }
    
    .s-hero .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .s-hero .text {
        max-width: 100%;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .s-hero .text h1{
        text-align: center;
    }
    .s-hero .text p{
        text-align: center;
    }
    .s-hero-cards .all-cards{
        flex-direction: column;
    }
    .s-hero-cards .all-cards .card{
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 3rem 0;
        margin-bottom: 2rem;
    }
    .s-hero-cards .all-cards .card:last-child{
        margin-bottom: 0;
    }
    .s-hero-cards .all-cards .card .info{
        max-width: 100%;
        margin-top: 2rem;
    }

    footer main nav{
        max-width: 4.5rem;
    }

}    
@media(max-width: 768px){

    .s-hero .container{
        flex-direction: column;
    }
    footer main {
        flex-direction: column;
        align-items: center;
    }
    
    footer main .left-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }
    footer main .left-area p{
        text-align: center;
    }
    footer main nav{
        max-width: 100%;
        margin-left: 0rem;
    }
}

@media(max-width: 600px){
    .s-hero-cards .second-area .top {
        flex-direction: column;    
    }
    .s-hero-cards .second-area .Title h2, p{
        text-align: center;
    }
    .s-hero-cards .second-area .Title h2{
        margin-bottom: .2rem;
    }

}

@media(max-width: 480px){
    html{
        font-size: 55%;

    }
    header .logo{
        max-width: 130px;
    }
    .s-hero{
        padding: 4rem 0;
    }
    h1{
        font-size: 4.2rem;
    }
    .s-hero .text p{
        margin-bottom: 3rem;
    }

    .s-hero .img{
        max-height: 40rem;
    }
    .s-hero-cards{
        padding: 4rem 0;
    }
    .s-hero-cards .main-area{
        padding: 4rem 0;
    }
    .s-hero-cards .info{
        text-align: center;
        max-width: 80%;
        padding: .2rem;
    }
       
    .s-hero-cards .second-area{
        margin-top: 4rem;
    }
    .s-hero-cards .second-area .all-imgs {
        gap: 0.7rem 2%;
    }

    .s-hero-cards .second-area .all-imgs .image {
        width: 49%;  
    }
    .s-newsletter{
        padding: 4rem 0;
    }

    footer{
        padding: 4rem 0 4rem;
    }

    footer main nav{
        flex-direction: column;
        align-items: center;
    }

    footer main nav .item{
        margin-bottom: 4rem;
        align-items: center;
        text-align: center;
    }
    footer main nav .item:last-child{
        margin-bottom: 0;
    }

    footer .copy{
        flex-direction: column;
    }
    footer .copy p{
        margin-bottom: 2rem;
    }

}