:root{
    --pink-color : #F67ACB;
    --gray-color-50 : #E6EBF2;
    --gray-color-100 : #050110;
    --gray-color-200 : #1C1D1F;
    --gray-color-200-o : #312c2c8a;
    --gray-color-300 : #393c40;
    --gray-color-400 : #5c6066;
    --gray-color-800 : #F7F8FA;
    --white-color-txt: #ffffffb3;
    --white : #ffffff
}